@import './_variables';

html {
  font-family: $font-family;
  font-size: $base-font-size;
  height: 100%;
  width: 100%;
}

.button {
  align-items: center;
  background-color: #2ecc71;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: map-get($font-sizes, '4');
  line-height: map-get($line-height-sizes, '4');
  justify-content: center;
  height: 38px;
  padding: 0 map-get($spacing-sizes, '3');
  position: relative;
}

.button:disabled:hover {
  background-color: #2ecc71;
}

.button:hover {
  background-color: #27ae60;
}

.button:disabled:after {
  content: ' ';
  background-color: #ecf0f1;
  border: none;
  border-radius: 5px;
  height: 38px;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

.text {
  font-size: map-get($font-sizes, '5');
  line-height: map-get($line-height-sizes, '5');
  margin-bottom: map-get($spacing-sizes, '5');
  max-width: $max-text-width;
}

@each $number, $font-size in $font-sizes {
  .heading-#{$number} {
    font-size: $font-size;
    line-height: map-get($line-height-sizes, $number);
    margin-bottom: map-get($spacing-sizes, $number);
    max-width: $max-text-width;
    padding: 0;
  }
}
