@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  padding: map-get($spacing-sizes, '1');
  height: calc(
    100vh - map-get($spacing-sizes, '1') - map-get($spacing-sizes, '1')
  );
  width: calc(
    100% - map-get($spacing-sizes, '1') - map-get($spacing-sizes, '1')
  );
}
