@import '../../styles/variables';

.container {
  display: grid;
  grid-template-areas:
    'units name'
    'units metaData'
    'units description';
  max-width: $max-text-width;
  padding: map-get($spacing-sizes, '1');
  width: calc(
    100% - map-get($spacing-sizes, '1') - map-get($spacing-sizes, '1')
  );
}

.rosterContainer {
  display: grid;
  grid-template-areas:
    'units name'
    'units metaData'
    'units description';
}

.units {
  grid-area: units;
}

.name {
  grid-area: name;
}

.metaData {
  grid-area: metaData;
}

.description {
  grid-area: description;
}
