@import '../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  max-width: $max-text-width;
  padding: map-get($spacing-sizes, '1');
  height: calc(
    100vh - map-get($spacing-sizes, '1') - map-get($spacing-sizes, '1')
  );
  width: calc(
    100% - map-get($spacing-sizes, '1') - map-get($spacing-sizes, '1')
  );
}

.rosterContainer {
  display: grid;
  gap: map-get($spacing-sizes, '2');
  grid-template-areas:
    'score captain'
    'name name'
    'crew crew';
  margin-bottom: map-get($spacing-sizes, '2');
}

.score {
  grid-area: score;
}

.captain {
  grid-area: captain;
}

.name {
  grid-area: name;
}

.crew {
  grid-area: crew;
}
