@import '../../styles/variables';

.rosterContainer {
  align-items: center;
  display: grid;
  gap: map-get($spacing-sizes, '2');
  grid-template-areas:
    'score captain'
    'name name';
  justify-content: center;
  margin-bottom: map-get($spacing-sizes, '2');
}

.crew {
  grid-area: crew;
}

.score {
  grid-area: score;
  margin-right: map-get($spacing-sizes, '2');
}

@media only screen and (min-width: $mobile-large) {
  .rosterContainer {
    grid-template-areas:
      'score captain crew'
      'name name name';
  }
  .score {
    margin-right: 0;
  }
}

.captain {
  grid-area: captain;
}

.name {
  color: #000;
  grid-area: name;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
