@import '../../styles/variables';

$max-width: 320px;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: map-get($spacing-sizes, '1');
  height: calc(
    100vh - map-get($spacing-sizes, '1') - map-get($spacing-sizes, '1')
  );
  width: calc(
    100% - map-get($spacing-sizes, '1') - map-get($spacing-sizes, '1')
  );
}

.button {
  background-color: #fff;
  border: 1px solid #27ae60;
  border-radius: 5px;
  cursor: pointer;
  font-size: map-get($font-sizes, '5');
  padding: map-get($spacing-sizes, '3') map-get($spacing-sizes, '2');
}

.button:hover {
  background-color: $placeholder-color;
}

.button,
.heading,
.flavorText {
  max-width: $max-width;
}

.heading {
  margin-top: map-get($spacing-sizes, '1');
  text-align: center;
}

.buttonIcon {
  margin-right: map-get($spacing-sizes, '2');
}

.divider {
  border: none;
  background-color: rgba(0, 0, 0, 0.25);
  max-width: $max-width;
  height: 1px;
  margin: map-get($spacing-sizes, '2') map-get($spacing-sizes, '1');
  width: 100%;
}
